@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template: 1fr / 2fr 8fr;

    width: 100vw;
    height: 100vh;

    background-color: rgb(139, 70, 70);
}

/*Task list area styles*/

.list-area {
    background-color:rgb(139, 70, 70);
    width: 100%;
    height: 100%;

    padding: 30px;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: 'rampart one'
}

.tasks {
    width: 90%;
    height: 80%;

    background-color: rgb(212, 145, 58);

    margin: 50px auto 0 auto;
    padding: 15px;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    border-radius: 15px;
    
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: 0;

    box-shadow: 10px 10px 13px;
}

.tasks::-webkit-scrollbar {
    display: none;
}

#add-task {
    height: 70px;
    width: 100px;

    background-color: rgb(199, 214, 144);
    
    border: none;
    border-radius: 5px;

    font-size: 1.5em;
    font-weight: 500;

    margin: 20px 0 0 20px;
}

/*Side bar styles*/

.side-bar {
    background-color: rgb(139, 70, 70);
    
    height: 100%;
    width: 100%;
}

.projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;

    padding: 20px;
}

.project-items {
    width: 100%;
    height: 100%;
    padding: 5px;

    background-color: rgb(212, 145, 58);

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: flex-start;

    box-shadow: 10px 10px 13px;
}

#add-project {
    height: 70px;
    width: 100px;

    background-color: rgb(199, 214, 144);

    border: none;
    border-radius: 5px;

    font-size: 1.5em;
    font-weight: 500;
}

.project-form {
    display: none;

}

.project-form.show {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    height: 200px;
    padding: 20px;

    background-color: aquamarine;

    position: absolute;
    bottom: calc(50% - 100px);

    border: 2px black dashed;
    border-radius: 10px;

    box-shadow: 10px 5px 15px;

    background-color: rgb(28, 247, 101);
}

textarea {
    resize: none;
}

.input-container {
    margin: 10px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

input[type="text"], input[type="date"] {
    width: 150px;
}

#create-project, #create-task {
    height: 70px;
    width: 100px;

    background-color: rgb(199, 214, 144);

    border: none;
    border-radius: 5px;

    font-size: 1.5em;
    font-weight: 500;
}

#close-popup, #close-popup-task {
    height: 70px;
    width: 100px;

    background-color: rgb(211, 62, 16);

    border: none;
    border-radius: 5px;

    font-size: 1.5em;
    font-weight: 500;
}

.button-container, .task-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: ceneter;
}

/*project's styles*/

.project {
    width: 100%;
    height: 50px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
    box-shadow: 5px 7px 15px;

    background-color: rgb(0, 207, 35);

    overflow: hidden;

    transition: scale 175ms linear;
}

.project-title {
    height: 25px;
    width: 150px;

    font-family: 'merriweather';

    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.remove-project {
    height: 30px;
    width: 70px;
    border: none;

    background-color: rgb(0, 207, 35);

    transition: transform 150ms linear;
}

/*Task creating form*/

.task-form {
    display: none;
}

.task-form.show {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;

    position: absolute;
    left: calc(50% - 100px);
    bottom: 350px;

    width: 200px;
    height: 270px;
    padding: 10px;

    border: 2px black dashed;
    border-radius: 10px;

    box-shadow: 10px 5px 15px;

    background-color: rgb(28, 247, 101);
}

input[type="radio"] {
    width: 0;
    opacity: 0;
    position: absolute;
}

label[for="priority-low"], label[for="priority-normal"], label[for="priority-high"] {
    height: 50px;
    width: 80px;

    background-color: rgb(37, 90, 235);
    border-radius: 5px;
}

input[type="radio"]:checked + label {
    background-color: greenyellow;
}

/*task elements*/
.task-container {
    padding: 10px;

    width: auto;
    height: 150px;

    border-radius: 10px;
    box-shadow: 10px 5px 15px;

    display: flex;
    flex-direction: column;
    align-items: left;
}

.task-container.low {
    background-color: rgb(33, 170, 102);
}

.task-container.normal {
    background-color: rgb(45, 84, 192)
}

.task-container.high {
    background-color: rgb(201, 73, 34);
}

.mark {
    width: 50px;
}

.task-name {
    font-size: 30px;
    color: rgb(240, 230, 88);
    font-family: 'bebas neue';

    width: 95%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.due-time {
    font-size: 20px;
    font-family: 'Merriweather';
}

.task-counter {
    color: rgb(211, 62, 16);
    font-family: 'bebas neue';
    font-size: 1.4em;
}

@media only screen and (max-width: 600px) {
    body {
      display: flex;
      flex-direction: column;

      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: 0;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .project {
        min-height: 50px;
    }

    .project-items {
        overflow-y: scroll;
        overflow-x: visible;

        flex-direction: column;

        -ms-overflow-style: none;
        scrollbar-width: 0;

        height: 400px;
    }

    .tasks {
        height: min(400px);
        width: 95%;

        margin-bottom: 20px;
    }

    .task-form.show {
        bottom: -450px
    }

    .project-items::-webkit-scrollbar {
        display: none;
    }

    .task-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        height: 70px;
        width: max(100%);
    }
  }

  @media only screen and (max-height: 600px) {
    body {
      display: flex;
      flex-direction: column;

      overflow: scroll;
      -ms-overflow-style: none;
        scrollbar-width: 0;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .project {
        min-height: 50px;
    }

    .project-items {
        overflow-y: scroll;
        overflow-x: visible;

        flex-direction: column;

        -ms-overflow-style: none;
        scrollbar-width: 0;

        height: 400px;
    }

    .tasks {
        height: min(400px);
        width: 95%;

        margin-bottom: 120px;
    }

    .project-items::-webkit-scrollbar {
        display: none;
    }

    .task-form.show {
        bottom: -450px
    }


    .task-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        height: 70px;
        width: max(100%);
    }
  }